.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal-overlay{
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 7% auto;
    padding: 1.5rem;
    border: 1px solid #888;
    width: 50%;
    height: 75%;
    border-radius: 1rem;
    gap: 1rem;
}

.modal-content-img-text{
    display: flex;
    flex-direction: row;
}

.modal-main-content{
    width: 45%;
    height: 100%;
}

.modal-description-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}

.modal-description-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

.modal-poster{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
