.card-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 40vh;
    border-radius: 1rem;
    transition: all ease 0.7s;
}

.card-overlay{
    display: none;
    position: absolute;
    width: 12.5rem;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: inherit;
}

.icons-list-watch-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-main:hover .card-overlay{
    display: block;
}

.card-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: inherit;
    box-shadow: 0px 0px 7px black;
}

.card-main:hover{
    margin-top: -3rem;
}

.card-main:hover .card-container{
    box-shadow: 0px 0px 30px aqua;
}

.card-img-container{
    width: 100%;
    height: 70%;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-info{
    height: 30%;
    padding: 0 2rem;
}

.card-movie-title {
    font-size: 1.25rem;
}

.card-icons {
    display: none;
    position: absolute;
    z-index: 3;
}

.heart-icon{
    display: none;
    position: relative;
    z-index: 3;
    fill: rgba(211, 211, 211, 0.75);
    transition: fill ease 0.3s;
}

.heart-icon-selected{
    fill: rgb(251, 18, 18);
}


.heart-icon:hover{
    fill: rgba(192, 31, 31, 0.75);
    cursor: pointer;
}

.heart-icon:active {
    fill: rgba(184, 127, 127, 0.75);
}

.eye-icon{
    display: none;
    position:relative;
    z-index: 3;
    fill: rgba(211, 211, 211, 0.75);
    transition: fill ease 0.3s;
}

.eye-icon-selected{
    fill: rgba(0, 232, 253);
}

.eye-icon:hover{
    fill: rgba(59, 181, 252, 0.75);
    cursor: pointer;
}

.eye-icon:active{
    fill: rgba(183, 228, 254, 0.75);
}

.card-main:hover .heart-icon{
    display: inline-flex;
}

.card-main:hover .eye-icon{
    display: inline-flex;
}

.rating-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 0fr;
}

.rating-container p{
    margin: 0;
    font-weight: bold;
    font-size: 0.85rem;
}
